* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: #eeeeee;
}

#page-container {
    position: relative;
    min-height: 100%; /* or min-height: 100vh */
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin: 100px;
}

#content-wrap {
    /*padding-left: 300px; !*left column size*!*/
    /*padding-right: 300px; !*right column size*!*/
    /*padding-top: 50px; !* Header height + 20px padding for separation *!*/
    /*padding-bottom: 50px; !* Footer height + 20px padding for separation *!*/
    /*this whole thing above can be represented with the line below */
    padding: 50px 300px;
    /*column alignment*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*header part*/
#header {
    /*justify-content: space-evenly;*/
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px; /* Header height */
}

#footer {
    /*justify-content: space-evenly;*/
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px; /* Footer height */
}

.header, .footer {
    background-color: rgba(180, 180, 180, 1);
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
}

.header-menu {
    display: flex;
    text-align: center;
    height: 50px;
}

.header-option {
    display: inline;
    height: 50px;
    width: 50px;
    text-decoration: none;
}

.text-menu {
    color: white;
    font-weight: bold;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
}

.text-menu:hover, .text-menu:visited, .text-menu:active, .text-menu:link {
    text-decoration: none;
}

.main-window {
    /*max-width: 750px;*/
    width: 100%;
    /*height: 100%;*/
    height: 200vh;
    min-width: 400px;
    margin: 30px 80px;
    background-color: dodgerblue
}

.left-column {
    float: none;
    flex-direction: column;
    background-color: red;
    width: 300px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 50px;
}

.right-column {
    float: none;
    flex-direction: column;
    background-color: red;
    width: 300px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 50px;
}

.search {
    padding-left: 10px;
    margin: 10px;
    height: 28px;
    width: 188px;
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, .25);
    box-sizing: inherit;
}

.search:focus {
    outline: 0;
    border-color: cadetblue;
}

/* login css */
.login-error {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    background-color: lightpink;
    color: darkred;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-sizing: inherit;
}

.login-input {
    box-sizing: inherit;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    line-height: 1.25;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    /*border-radius: 0.25rem;*/
}

.login-input:focus {
    border-color: cadetblue;
    outline: 0;
}

.login-button {
    padding: 10px;
    width: 100%;
    background-color: rgba(30, 144, 255, 0.8);
    color: white;
    font-size: 16px;
    line-height: 1.25;
    font-weight: bold;
    border-radius: 0.25rem;
    border: none;
    box-sizing: inherit;
}

.login-button:active, .login-button:hover {
    background-color: dodgerblue;
    color: rgba(255, 255, 255, 0.9);
}