<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}">
</head>
<body>
<div id="page-container">
    <header th:replace="fragments::header"></header>
    <div id="content-wrap">
        <!--        left column-->
        <div class="left-column">
            left column
        </div>
        <!--        main window-->
        <div class="main-window">
            <div>
                <h2 th:text="'Booking '+${booking.id}+':'"></h2>
                <label th:text="'Customer: '+${booking.vehicle.owner.username}"></label><br>
                <label th:text="'Vehicle: '+${booking.vehicle.model.brand.name}+' '+${booking.vehicle.model.name}+', '+${#temporals.format(booking.vehicle.yearOfCreation,'yyyy')}"></label><br>
                <label th:text="'Drop off date: '+${#temporals.format(booking.dropOffDate,'d MMMM yyyy')}"></label><br><br>
                <h2>Services:</h2>
                <div th:each="service:${booking.services}">
                    <div style="display: inline">
                        <label th:text="${service.serviceType.name}"></label>
                        <label th:if="${service.price!=0}" th:text="${service.price}"></label>
                    </div>
                    <a style="display: inline" th:if="${requester.isEmployee()}" th:href="@{/service/{id}(id=${service.id})}"><input type="button" value="Set Price"></a>
                </div>
            </div>
        </div>
        <!--        right column-->
        <div class="right-column">
            right column
        </div>
    </div>
    <footer id="footer" class="footer"></footer>
</div>
</body>
</html>