<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}">
</head>
<body>
<div id="page-container">
    <header th:replace="fragments::header"></header>
    <div id="content-wrap">
        <!--        left column-->
        <div class="left-column">
            left column
        </div>
        <!--        main window-->
        <div class="main-window">
            <div th:each="booking:${bookings}">
                <h2 th:text="'Booking '+${booking.id}+':'"></h2>
                <label th:text="'Customer: '+${booking.vehicle.owner.username}"></label><br>
                <label th:text="'Vehicle: '+${booking.vehicle.model.brand.name}+' '+${booking.vehicle.model.name}+', '+${#temporals.format(booking.vehicle.yearOfCreation,'yyyy')}"></label><br>
                <label th:text="'Drop off date: '+${#temporals.format(booking.dropOffDate,'d MMMM yyyy')}"></label><br><br>
                <h2>Services:</h2>
                <div th:each="service:${booking.services}">
                    <label th:text="${service.serviceType.name}"></label>
                </div>
                <a th:href="@{/bookings/{id}(id=${booking.id})}" ><input type="button" value="Open"></a>
            </div>
        </div>
        <!--        right column-->
        <div class="right-column">
            right column
        </div>
    </div>
    <footer id="footer" class="footer"></footer>
</div>
</body>
</html>