<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}">
</head>
<body>
   <h1>All Brands</h1>
   <div>
       <a href="" th:href="@{/brands/create}">Create Brand</a>
   </div>

    <div th:each="brand : ${allbrands}">
        <a href="#" th:href="@{/brands/{id} (id = ${brand.getId()})}"><h3 th:text="${brand.getName()}"></h3></a>
    </div>

</body>
</html>