<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/vehicles/create}" th:object="${createVehicle}" method="post">
    <div class="container">

<!--        <label text="brand"></label>-->
<!--        <select th:field="*{brandId}">-->
<!--            <option selected value="0">Select Brand</option>-->
<!--            <option th:each="brand : ${allbrands}"-->
<!--                    th:value="${brand.getId()}"-->
<!--                    th:text="${brand.getName()}">-->
<!--                BeerStyleOne-->
<!--            </option>-->
<!--        </select>-->
<!--        <label class="error" th:errors="${createVehicle.getBrandId()}">Brand error placeholder</label>-->

        <label text="Model"></label>
        <select th:field="*{modelId}">
            <option selected value="0">Select Brand</option>
            <option th:each="model : ${allmodels}"
                    th:value="${model.id}"
                    th:text="${model.brand.name}+' '+${model.name}">
                BeerStyleOne
            </option>
        </select>
<!--        <label class="error" th:errors="${createVehicle.getModelId()}">Email error placeholder</label>-->

        <label text="licence plate"></label>
        <input type="text" th:field="*{licence_plate}" placeholder="Enter licence plate" required>
        <label class="error" th:errors="*{licence_plate}">Licence plate error placeholder</label>

        <label text="year of creation"></label>
        <input type="date" th:field="*{yearOfCreation}" placeholder="Enter Year" required>
        <label class="error" th:errors="*{yearOfCreation}">Password error placeholder</label>

        <label text="vin"></label>
        <input type="text" th:field="*{vin}" placeholder="Enter vin" required>
        <label class="error" th:errors="*{vin}">Password error placeholder</label>

        <button type="submit">Register</button>

    </div>
</form>
</body>
</html>