<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 >Error occurred</h2>
<h3  th:text="${error}">Error placeholder</h3>
</body>
</html>