<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>
<!--header fragment-->
<header th:fragment="header" id="header" class="header">
    <!--        left menu-->
    <div class="header-menu" style="width: 300px; float: left;">
        <form th:if="${#httpServletRequest.requestURI != '/' && isAuthenticated}" class="header-menu">
            <div class="header-option" style="width: auto">
                <input class="search" type="text" placeholder="Search">
            </div>
            <div class="header-option">
                <button id="search-button" type="submit" style="border: none; width: 50px; height: 50px">
                    <img src="/images/search-icon.png"
                         onmousedown="this.src='/images/search-icon-hl.png'"
                         onmouseup="this.src='/images/search-icon.png'"
                         onmouseover="this.src='/images/search-icon-hl.png'"
                         onmouseout="this.src='/images/search-icon.png'"
                         alt="">
                </button>
            </div>
        </form>
    </div>
    <!--        center menu-->
    <div class="header-menu">
        <div class="header-option" style="margin: 0 30px 0 30px">
            <a href="/">
                <img th:if="${#httpServletRequest.requestURI == '/'}"
                     src="/images/home-icon-hl.png" style="border-bottom: 5px solid dodgerblue">
                <img th:unless="${#httpServletRequest.requestURI == '/'}" src="/images/home-icon.png"
                     onmouseover="this.style.borderBottom = '5px solid dodgerblue'"
                     onmouseout="this.style.borderBottom = 'none'">
            </a>
        </div>
        <div th:if="${isAuthenticated&&requester.isEmployee()}" class="header-option" style="margin: 0 30px 0 30px">
            <a href="/users">
                <img th:if="${#httpServletRequest.requestURI == '/users'}"
                     src="/images/user-icon-hl.png" style="border-bottom: 5px solid dodgerblue">
                <img th:unless="${#httpServletRequest.requestURI == '/users'}" src="/images/user-icon.png"
                     onmouseover="this.style.borderBottom = '5px solid dodgerblue'"
                     onmouseout="this.style.borderBottom = 'none'">
            </a>
        </div>
        <div th:if="${isAuthenticated}" class="header-option" style="margin: 0 30px 0 30px">
            <a href="/vehicles">
                <img th:if="${#httpServletRequest.requestURI == '/vehicles'}"
                     src="/images/car-icon-hl.png" style="border-bottom: 5px solid dodgerblue">
                <img th:unless="${#httpServletRequest.requestURI == '/vehicles'}" src="/images/car-icon.png"
                     onmouseover="this.style.borderBottom = '5px solid dodgerblue'"
                     onmouseout="this.style.borderBottom = 'none'">
            </a>
        </div>
        <div class="header-option" style="margin: 0 30px 0 30px">
            <a href="/services">
                <img th:if="${#httpServletRequest.requestURI == '/services'}"
                     src="/images/service-icon-hl.png" style="border-bottom: 5px solid dodgerblue">
                <img th:unless="${#httpServletRequest.requestURI == '/services'}" src="/images/service-icon.png"
                     onmouseover="this.style.borderBottom = '5px solid dodgerblue'"
                     onmouseout="this.style.borderBottom = 'none'">
            </a>
        </div>
        <div th:if="${isAuthenticated}" class="header-option" style="margin: 0 30px 0 30px">
            <a href="/bookings">
                <img th:if="${#httpServletRequest.requestURI == '/bookings'}"
                     src="/images/bookings-icon-hl.png" style="border-bottom: 5px solid dodgerblue">
                <img th:unless="${#httpServletRequest.requestURI == '/bookings'}" src="/images/bookings-icon.png"
                     onmouseover="this.style.borderBottom = '5px solid dodgerblue'"
                     onmouseout="this.style.borderBottom = 'none'">
            </a>
        </div>
    </div>
    <!--        right menu-->
    <div class="header-menu" style="width: 300px; justify-content: space-evenly">
        <div th:if="${isAuthenticated}" class="header-option text-menu">
            <a  href="/register" th:href="@{/users/{id}(id = ${requester.id})}"
               style="text-decoration: none; color: white">My profile</a>
        </div>
        <div class="header-option text-menu">
            <a th:if="${isAuthenticated&&requester.isEmployee()}" href="/register"
               style="text-decoration: none; color: white">Register</a>
        </div>
        <div class="header-option text-menu">
            <a th:unless="${isAuthenticated}" href="/auth/login"
               style="text-decoration: none; color: white">Login</a>
            <a th:if="${isAuthenticated}" href="/auth/logout" style="text-decoration: none; color: white">Logout</a>
        </div>
    </div>
</header>
<!--footer fragment-->
<footer th:fragment="footer"></footer>
<!--login form-->
<form th:fragment="login-form"  th:action="@{/auth/login}" th:object="${login}" method="post" style="margin: 0 auto; max-width: 330px; padding: 15px">
    <img src="/images/padlock.png" style="width: 80px; display: block; margin: 0 auto">
    <br><h2 style="margin-bottom: 10px;text-align: center">Please sign in</h2><br>
    <div th:if="${#fields.hasAnyErrors()}" class="login-error"><label th:errors="*{username}">Wrong credentials</label></div>
<!-- this should be put in the div that holds the wrong credentials label: th:if="${#fields.hasAnyErrors()}" -->
    <input type="text" th:field="*{username}" class="login-input" placeholder="Username" required>
    <input type="password" th:field="*{password}" class="login-input" placeholder="Password" required>
    <input type="submit" class="login-button" value="Sign in">

    <a th:href="@{/forgot_password}">Forgot your password?</a>


</form>
</body>
</html>