<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>All Models</h1>
<div>
    <a href="" th:href="@{/models/create}">Create Model</a>
</div>

<div th:each="model : ${allmodels}">
    <a href="#" th:href="@{/models/{id} (id = ${model.getId()})}"><h3 th:text="${model.getName()}"></h3></a>
    <a th:href="@{/models/{id}/delete (id = ${model.getId()})}">
        <input type="button" value="delete">
    </a>
</div>
</body>
</html>