<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}">
</head>
<body>
<div id="page-container">
    <header th:replace="fragments::header"></header>
    <div id="content-wrap">
        <!--        left column-->
        <div class="left-column">
            left column
        </div>
        <!--        main window-->
        <div class="main-window">
            <div th:each="category : ${categories}">
                <h2 th:text="${category.name}"></h2>
                <div th:each="service : ${category.services}">
                    <label th:text="${service.name}"></label>
                </div>
                <br>
            </div>
        </div>
        <!--        right column-->
        <div class="right-column">
            right column
        </div>

    </div>
    <footer id="footer" class="footer"></footer>
</div>
</body>
</html>