<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="serviceType:${serviceTypes}">
    <div>
        <h2 th:text="${serviceType.id}"></h2>
        <h2>Services:</h2><br>
<!--        <div th:each="service:${booking.services}">-->
<!--            &lt;!&ndash;            <h2 th:text="${service.serviceType.name}"></h2>&ndash;&gt;-->
<!--        </div>-->
    </div>
</div>
</body>
</html>