<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="table" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${updatebrand}" method="post">
    <div class="header">
        <div class="cell" style="width: 35%"></div>
        <div class="cell" style="width: 65%">Update Brand</div>
    </div>
    <br>
    <div class="row">
        <div class="cell">
            <label th:text="'Current brandName: ' + ${brandToUpdate.getName()}"></label>
        </div>
        <div class="cell">
            <input type="text" th:field="*{name}" placeholder="Enter a new brand name">
            <label th:errors="*{name}"></label>
        </div>
    </div>
    <div class="row">
        <div class="cell"></div>
        <div class="cell" style="justify-content: space-evenly">
            <input class="input-button" type="submit" value="Save">
        </div>
    </div>
</form>
</body>
</html>