<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
</head>
<body>

<form class="table" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${updatevehicle}" method="post">
    <div class="header">
        <div class="cell" style="width: 35%"></div>
        <div class="cell" style="width: 65%">Update user details</div>
    </div>
    <br>
    <div class="row">
<!--        <div class="cell">-->
<!--            <label th:text="'Current brand: ' + ${vehicleToUpdate.getModel().brand.name}"></label>-->
<!--        </div>-->
<!--        <div class="cell">-->
<!--            <select th:field="*{brand_id}">-->
<!--                <option th:value="${vehicleToUpdate.getModel().getBrand().getId()}">Select Brand</option>-->
<!--                <option th:each="model : ${allmodels}"-->
<!--                        th:value="${model.getBrand().getId()}"-->
<!--                        th:text="${model.getBrand().getName()}">-->
<!--                    BeerStyleOne-->
<!--                </option>-->
<!--            </select>-->
<!--        </div>-->
    </div>
    <div class="row">
        <div class="cell">
            <label th:text="'Current vehicle: ' + ${vehicleToUpdate.getModel().brand.name} + ' ' + ${vehicleToUpdate.getModel().getName()}"></label>
        </div>
        <div class="cell">
            <select th:field="*{model_id}">
                <option th:value="${vehicleToUpdate.model.id}">Select Model</option>
                <option th:each="model : ${allmodels}"
                        th:value="${model.getId()} + ${model.getBrand().getId()}"
                        th:text="${model.getBrand().name} + ' ' + ${model.getName()}">
                    BeerStyleOne
                </option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <label th:text="'Current licencePlate: ' + ${vehicleToUpdate.getLicensePlate()}">Email</label>
        </div>
        <div class="cell">
            <input type="text" th:field="*{licence_plate}" placeholder="Enter a new email">
            <label th:errors="*{licence_plate}"></label>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <label th:text="'Current vin: ' + ${vehicleToUpdate.getVin()}">PhoneNumber</label>
        </div>
        <div class="cell">
            <input type="text" th:field="*{vin}" placeholder="Enter a new last name">
            <label th:errors="*{vin}"></label>
        </div>
    </div>
    <div class="row">
        <div class="cell"></div>
        <div class="cell" style="justify-content: space-evenly">
            <input class="input-button" type="submit" value="Save">
        </div>
    </div>
</form>

</body>
</html>