<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${user.getUsername()}"></h1>
    <h1 th:text="${user.getPassword()}"></h1>
    <h1 th:text="${user.getEmail()}"></h1>
    <h1 th:text="${user.getPhoneNumber()}"></h1>
</body>
</html>