<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
</head>
<body>
<form class="table" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${editprofile}" method="post">
    <div class="header">
        <div class="cell" style="width: 35%"></div>
        <div class="cell" style="width: 65%">Update user details</div>
    </div>
    <br>
    <div class="row">
        <div class="cell">
            <label th:text="'Current username: ' + ${userToUpdate.getUsername()}"></label>
        </div>
        <div class="cell">
            <input type="text" th:field="*{username}" placeholder="Enter a new first name">
            <label th:errors="*{username}"></label>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <label th:text="'Current email: ' + ${userToUpdate.getEmail()}">Last name</label>
        </div>
        <div class="cell">
            <input type="text" th:field="*{email}" placeholder="Enter a new last name">
            <label th:errors="*{email}"></label>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <label th:text="'Current password: ' + ${userToUpdate.getPassword()}">Email</label>
        </div>
        <div class="cell">
            <input type="text" th:field="*{password}" placeholder="Enter a new email">
            <label th:errors="*{password}"></label>
        </div>
    </div>
    <div class="row">
        <div class="cell">
            <label th:text="'Current phoneNumber: ' + ${userToUpdate.getPhoneNumber()}">PhoneNumber</label>
        </div>
        <div class="cell">
            <input type="text" th:field="*{phoneNumber}" placeholder="Enter a new last name">
            <label th:errors="*{phoneNumber}"></label>
        </div>
    </div>
<!--    <div class="row">-->
<!--        <div class="cell">-->
<!--            <label th:text="'Current role: ' + ${userToUpdate.getUserRole().getName()}">UserRole</label>-->
<!--        </div>-->
<!--        <div class="cell">-->
<!--            <input type="text" th:field="*{roleId}" placeholder="Enter a new last name">-->
<!--            <label th:errors="*{roleId}"></label>-->
<!--        </div>-->
<!--    </div>-->
    <div class="row">
        <div class="cell"></div>
        <div class="cell" style="justify-content: space-evenly">
            <input class="input-button" type="submit" value="Save">
        </div>
    </div>
    </form>
</body>
</html>