<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}">

</head>
<body>
<div id="page-container">
    <header th:replace="fragments::header"></header>
    <div id="content-wrap">
        <!--        left column-->
        <div class="left-column">
            left column
        </div>
        <!--        main window-->
        <div class="main-window">
            <div>
                <a href="/vehicles/create">
                    <input type="button" value="Add New Vehicle">
                </a>

            </div>
            <div th:each="vehicle : ${allvehicles}">
                <a href="" th:href="@{/vehicles/{id} (id = ${vehicle.getId()})}"
                   th:text="${vehicle.model.brand.name}
                        +' '+${vehicle.model.name}
                        +', '+${#temporals.format(vehicle.yearOfCreation,'yyyy')}"></a>
                <a th:href="@{/vehicles/{id}/edit (id = ${vehicle.getId()})}">
                    <input type="button" value="edit vehicle info">
                </a>
            </div>
        </div>
        <!--        right column-->
        <div class="right-column">
            right column
        </div>
    </div>
    <footer id="footer" class="footer"></footer>
</div>
</body>
</html>