<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}">
</head>
<body>
<div id="page-container">
    <header th:replace="fragments::header"></header>
    <div id="content-wrap">
        <!--        left column-->
        <div class="left-column">
            left column
        </div>
        <!--        main window-->
        <div class="main-window">
            <h1>Vehicle Info</h1>
            <h2 th:text="${vehicle.getModel().getBrand().getName()}"></h2>
            <h2 th:text="${vehicle.getModel().getName()}"></h2>
            <h2 th:text="${vehicle.getLicensePlate()}"></h2>
            <h2 th:text="${vehicle.getVin()}"></h2>
            <h2 th:text="${vehicle.getYearOfCreation()}"></h2>
            <h2 th:text="${vehicle.getOwner().username}"></h2>
        </div>
        <!--        right column-->
        <div class="right-column">
            right column
        </div>
    </div>
    <footer id="footer" class="footer"></footer>
</div>
</body>
</html>